<% include ../partials/header %>

<div class="row">
	<div class="col-md-4">
			<h1><%= user.firstName + " " + user.lastName %></h1>
		<div class="thumbnail">
			<img src="<%= user.avatar %>" alt="user profile image">
			<div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
		</div>
	</div>
	<div class="col-md-8">
		<h3><%= user.username %>'s posts:</h3>
		<% var count = 0 %>
		<% c_food.forEach(function(c_food) { %>
			<% count++ %>
		<% }); %>
		<% if(count != 0){ %>
			<ul class="list-group">
			
			<% c_food.forEach(function(c_food) { %>
				<li class="list-group-item"><a href="/c_food/<%= c_food.id %>"><%= c_food.name %></a></li>
			<% }); %>
			</ul>
		<% } else { %>
			<p><%= user.firstName %> has not made any post yet.</p>
		<% } %>
	</div>
</div>

<% include ../partials/footer %>